.booking{
    width: 100%;
    height: 900px;
  background-color: teal;
}

.booking>h1{
   
font-size: 2rem;
font-weight: bold;
padding-top: 30px;
align-items: center;
margin-left: 180px;
   
}


.flight{

width: 80%;
margin: auto;
border: 1px solid transparent;
justify-content: space-evenly;
margin-bottom: 10px;
display: flex;

background-color:white;
padding-left: 30px;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 15px;

}


.flight>div>h1{
  font-weight: bold;
  margin-bottom: 10px;
  
}


.flight>div:nth-child(1){
  width: 50%;
  border: 1px solid transparent;
  
}

.flight>div:nth-child(2){
  width: 40%;
  border: 1px solid transparent;
 text-align: left;
 
  
}

.flight>div:nth-child(2)>button{
  color: white;
  background-color: teal;
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 5px;
  border-radius: 5px;

}

.cart{
  width: 60%;
  margin-top: 50px;
  border: 1px solid transparent;
  
}

