.homeTop{
    position: relative;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(360deg, #144379,#061424);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeTop > .homeTopCard{
    position: relative;
    background: white;
    height: auto;
    width: 80%;
    padding: 30px 0 0 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.homeTop > .homeTopCard > .secondHeader{
    position: relative;
    top: -80px;
    width: 90%;
    padding: 20px 0;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .secondHeader > .iconCard.active{
    color: royalblue;
    border-bottom: 2px solid royalblue;
}
.homeTop > .homeTopCard > .secondHeader > .iconCard{
    font-size: 20px;
    text-align: center;
    padding: 0 5px;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .secondHeader > .iconCard > h1{
    font-size: 14px;
}
/*  */
.homeTop > .homeTopCard > .homeInputBx{
    position: relative;
    top: -50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 20px;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .homeInputBx > p{
    padding: 0 20px;
    font-weight: 500;
}
.homeTop > .homeTopCard > .homeInputBx > div {
    display: flex;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .homeInputBx > div > .homeInputs{
    display: flex;
    font-weight: 600;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .homeInputBx > div > .homeInputs input{
    margin: 0 10px;
}

/*  */
.homeTop > .homeTopCard > .homeMainSearchInput{
    position: relative;
    top: -40px;
    width: 95%;
    display: flex;
    /* border: 1px solid green; */
}

.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx{
    position: relative;
    padding: 15px 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
    transition: 0.5s ease;
    /* border: 1px solid #000; */
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx:hover{
    background: rgb(216, 250, 255);
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx span{
    font-weight: 700;
    font-size: 10px;
    display: flex;
    padding: 0 20px;
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* border: 1px solid blue; */
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx:nth-child(1) input{
    font-size: 25px;
    font-weight: 700;
    padding: 0 20px;
    width: 80%;
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx:nth-child(2) input{
    font-size: 25px;
    font-weight: 700;
    padding: 0 20px;
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx:last-child input{
    text-align: center;
    font-size: 25px;
}
.homeTop > .homeTopCard > .homeMainSearchInput > .MainSearchinputBx > button{
    position: absolute;
    right: -18px;
    top: 25px;
    padding: 5px 8px;
    z-index: 12;
    /* border: 1px solid blue;; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 50%;
}
/*  */
.homeTop > .homeTopCard > .homeSearchButtonBx{
    position: absolute;
    bottom: 0;
    bottom: -20px;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .homeSearchButtonBx > button{
    padding: 0px 50px;
    background: linear-gradient(to right,#4fadfe, #156bf5) ;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border-radius: 30px;
}
/*  */
.homeTop > .homeTopCard > .Homeoptions{
    position: relative;
    top: -40px;
    display: flex;
    margin-top: 20px;
    width: 95%;
    gap: 3px;
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .Homeoptions > .optionsInputBx{
    display: flex;
    gap: 10px;
    padding: 10px 5px;
    background-color: rgba(0,0,0,0.1);
    /* border: 1px solid black; */
}
.homeTop > .homeTopCard > .Homeoptions > .optionsInputBx input{
    width: 20px;
}
/*  */

.homeTop > .homeExplore{
    position: absolute;
    bottom: -30px;
    background-color: white;;
    display: flex;
    gap: 20px;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    /* border: 1px solid #000; */
}

.homeTop > .homeExplore > .exploreCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 1px solid gray;
    padding: 10px 20px;
}
.homeTop > .homeExplore > .exploreCard:last-child{
    border: none;
}
.homeTop > .homeExplore > .exploreCard > img{
    width: 30px;
}