header{
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    /* background-color: white; */
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    /* border: 1px solid black; */
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    flex-wrap: wrap;
}
header > .logo{
    /* border: 1px solid black; */
    margin-top: 10px;
  
  
  
}
header > .logo > a > img{
    width: 100px;
}
header > .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
}

header > .icons > .iconCard > h1{
    font-size: 12px;
    /* color: white; */
}
header > .icons > .iconCard{
    text-align: center;
    padding: 0 5px;
    /* border: 1px solid black; */
}
header > .icons > .iconCard.active{
    color: black;
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
header > .login{
    font-size: 12px;
    display: flex;
    gap: 20px;
    color: white;
    /* border: 1px solid black; */
}
 select > option{
    color: black;
}
 select {
    background: transparent;
    background: none;
}
header > .login > a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
header > .login > a > .ball{
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
}
header > .login > a.active .navbarPopup{
    visibility: visible;
    opacity: 1;
}
header > .login > a > .navbarPopup{
    position: absolute;
    top: 30px;
    visibility: hidden;
    opacity: 0;
    /* height: 50px; */
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* gap: 10px; */
    border: 1px solid black;
}
header > .login > a > .navbarPopup > a{
    font-size: 15px;
    padding: 10px;
    color: black;
}
header > .login > a > .navbarPopup > a:hover{
    background: rgba(0,0,0,0.1)
}



select{
    display: none;
}


.Menu>.iconCard{
    color: white;
    padding-bottom: 5px;
    
}

.Menu>.login{
    color:white ;
}


span{
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
}

#check{
    display: none;
}


 .Menu{
    display: none;
    padding-right: 50px;
    position: relative;
   
    
    
} 




@media (max-width:650px) {

header{
    margin-bottom: 50px;

}

    #loginpro{
        display: none;
    }
    
    .icons>.iconCard{
        display: none;
    }

 


.Menu{
    display: block;
    
}
.dropmenu{
    display: none;
} 
/* label{
    display: block;
}  */

#check:checked ~.dropmenu{
   display: block;
    flex-direction: column;
    width: 190%;
    align-items: center;
   
    justify-content: center;
    padding-top: 30px;

   


}


ul>li{
    list-style: none;
    width: 100%;
}

}
