PORT=8080
MONGODB_URI="""

NODE_ENV="development"

JWT_SECRET="sknjcbwx"
JWT_EXPIRES_IN="1d"

COOKIE_SECRET="skcbjnwk"
COOKIE_EXPIRES_IN="3d"

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASS=""

CLIENT_URL="http://localhost:5173"  
FIREBASE_PROJECT_ID="trip-to-heaven-766c8"
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"trip-to-heaven-766c8","private_key_id":"YOUR_KEY_ID","private_key":"YOUR_PRIVATE_KEY","client_email":"YOUR_EMAIL@trip-to-heaven-766c8.iam.gserviceaccount.com","client_id":"YOUR_CLIENT_ID","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"YOUR_CERT_URL"}'

SALT_ROUNDS=1