PORT=8080
MONGODB_URI="""

NODE_ENV="development"

JWT_SECRET="sknjcbwx"
JWT_EXPIRES_IN="1d"

COOKIE_SECRET="skcbjnwk"
COOKIE_EXPIRES_IN="3d"

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_USER=""
EMAIL_PASS=""

CLIENT_URL="http://localhost:5173"  
